.header{
    width: 100%;
    background-size: 100%;
    padding-bottom: 100px;
    background: #60606e url(../img/header_home_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header__logo{
    font-size: 18px;
    line-height: 48px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 30px;
}
.menu {
    text-align: right;
    margin-top: 40px;
}

.menu__icon {
    display: none;
    width: 45px;
    height: 30px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #333333;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}

.menu__links-item {
    display: inline-block;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.menu__links-item:hover {
    color: #333333;
    text-decoration: none;
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;
}

@media screen and (max-width: 992px) {
    .menu__icon{
        display: inline-block;

    }

    .menu__links {
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        left: 0;
        margin-top: 82px;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
        overflow: auto;
    }

    .menu__links-item {
        display: block;
        padding: 10px 0;
        text-align: center;
        color: #ffffff;
    }
    .menu__links-item:hover {
        color: coral;
        text-decoration: none;
    }
}
.header__text2{
    font-size: 14px;
    line-height: 28px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.header__text1{
    font-size: 36px;
    line-height: 28px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-top: 80px;
}
.texts{
    padding-bottom: 100px;
}
.texts__text1{
    font-size: 30px;
    line-height: 28px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 120px;
}
.texts__text2{
     font-size: 14px;
     line-height: 24px;
     color: #60606e;
     font-family: "Open Sans", sans-serif;
     font-weight: 800;
     padding-top: 20px;
 }
.texts__text3{
    font-size: 14px;
    line-height: 30px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    padding-top: 20px;
}
.texts__text4{
    font-size: 30px;
    line-height: 28px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-top: 100px;
}
.texts__text5{
    font-size: 14px;
    line-height: 24px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    padding-top: 10px;

}
.texts__img{
    width: 40px;
    height: 40px;
    background-color: #7beec7;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texts__text6{
    clear: both;
    display: inline-block;
    font-size: 18px;
    line-height: 48px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-left: 20px;
}
.texts__text7{
    font-size: 14px;
    line-height: 30px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
}
.texts__row1{
    margin-top: 100px;
}
.team{
    padding-bottom: 100px;
}
.team__text1{
    font-size: 30px;
    line-height: 28px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.team__text2{
    font-size: 14px;
    line-height: 24px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
}
.team__col1{
    height: 70%;
    margin-top: 30px;
}
.team__block{
    height: 150px;
    background-color: rgba(96,96,110,0.10196078431372549);
    margin-top: 50px;
}
.team__block-text1{
    font-size: 18px;
    line-height: 28px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    padding-top: 40px;
}
.team__block-button1{
    background-color: #7beec7;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
    height: 40px;
    margin-top: 50px;
    cursor: pointer;
}
.clients{
    padding-bottom: 100px;
}
.clients__img{

    border-radius: 40px;
    margin-left: 40%;

}
.clients__text1{
    font-size: 14px;
    line-height: 30px;
    color: #60606e;
    font-family: "Open Sans", sans-serif;
}
.clients__button{
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    height: 29px;
    background-color: #7beec7;
}
.clients__img2{
    height: 35%;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,0.15);
    margin-left: 10px;
}
.news{
    padding-bottom: 80px;
    background: #7beec7;
}
.news__text1{
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}
.news__button{
    width: 165px;
    padding: 10px 0;
    font-size: 14px;
    color: #7beec7;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    background: white;
    margin-top: 20px;
    cursor: pointer;
}
.news__col2{
    background-color: #ffffff;
    padding-bottom: 30px;
}
.news__block-text1{
    font-size: 24px;
    line-height: 36px;
    color: #60606e;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    margin-right: 50px;
}
.news__block-text2{
    font-size: 16px;
    line-height: 24px;
    color: #999999;
    font-family: "Open Sans", sans-serif;
    margin-right: 50px;
}
.news__block-text3 {
    width: 350px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid rgba(0,0,0,0.1);
    float: left;
}
.news__block-text3::placeholder {
    box-shadow: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.72;
    color: #cccccc;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
}
.news__block-button{
    font-size: 14px;
    line-height: 48px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
    width: 135px;
    background-color: #7beec7;
    cursor: pointer;
    border: none;
}
.footer{
    padding-bottom: 50px;
}
.footer__menu{
    margin-top: 50px;
}
.footer__menu-item{
    font-size: 14px;
    line-height: 28px;
    color: #9a9a9a;
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    cursor: pointer;
    list-style: none;
    margin-right: 30px;
}
.footer__text1{
    font-size: 14px;
    line-height: 28px;
    color: #9a9a9a;
    font-family: "Open Sans", sans-serif;
    margin-top: 50px;

}
.footer__icon{
    margin-top: 10px;
    display: inline-block;

}
.footer__link{
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}
.footer__link:hover{
    color: coral;
    text-decoration: none;
}




@media (max-width: 575px) {
    .texts__text1{
        margin-top: 20px;
        text-align: center;
    }
    .texts__text2{
        margin-top: 20px;
        text-align: center;
        padding-top: 5px;
    }

    .texts__text3{
        padding-top: 5px;
    }
    .team__block-button1{
        margin-top: 20px;
    }
    .team__block{
        height: 190px;

    }
    .footer__icons{
        margin-left: 25%;
    }
    .footer__text1{
        text-align: center;
    }
}
@media (min-width: 576px) {
    .texts__text1{
        margin-top: 50px;
    }
    .team__block-button1{
        font-size: 12px;
    }
    .clients__img2{
        height: 25%;
    }

}
@media (min-width: 768px){
    .texts__text1{
        margin-top: 120px;
    }
    .texts__text6{
        font-size: 14px;
    }
    .team__block-button1{
        font-size: 14px;
    }
    .news__block-text3{
        width: 300px;
    }
    .clients__img2{
        height: 30%;
    }

}
@media (min-width: 992px) {
    .texts__text6{
        font-size: 18px;
    }
    .clients__img2{
        height: 35%;
    }
}